* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 50px 0;
  background: url("img/house.jpg") 50% / cover scroll;
}

.container {
  max-width: 1200px;
  background: url("img/palma.jpg") 50% / cover no-repeat fixed;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.container > h1,
.container > h3 {
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.7);
  letter-spacing: 3px;
  max-width: 200px;
  margin: 15px auto;
}

.container > h1 {
  margin: 0 auto 15px;
}

.photo {
  max-width: 600px;
  height: 400px;
  background: url("img/photo1.jpg") 50% / cover no-repeat;
  border: 10px solid #fff;
  margin: 0 auto;
}

.mountain {
  margin: 30px auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mountain__photo {
  width: 390px;
  height: 300px;
  background: url("img/mountain.jpg") 50% / cover no-repeat;
  border: 5px solid #fff;
  margin: 0 0px 0 0;
}

.mountain__about {
  width: 390px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  font-size: 18px;
}

.mountain__about > p {
  margin: 0;
}

.look {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.look__photo__1 {
  width: 350px;
  height: 250px;
  background: url("img/building1.jpg") 50% / cover no-repeat;
  margin: 10px;
  border: 5px solid #fff;
}
.look__photo__2 {
  width: 350px;
  height: 250px;
  background: url("img/building2.jpg") 50% / cover no-repeat;
  margin: 10px;
  border: 5px solid #fff;
}
.look__photo__3 {
  width: 350px;
  height: 250px;
  background: url("img//building3.jpg") 50% / cover no-repeat;
  margin: 10px;
  border: 5px solid #fff;
}
.look__photo__4 {
  width: 350px;
  height: 250px;
  background: url("img//building4.jpg") 50% / cover no-repeat;
  margin: 10px;
  border: 5px solid #fff;
}
.look__photo__5 {
  width: 350px;
  height: 250px;
  background: url("img//building5.jpg") 50% / cover no-repeat;
  margin: 10px;
  border: 5px solid #fff;
}
.look__photo__6 {
  width: 350px;
  height: 250px;
  background: url("img//building6.jpg") 50% / cover no-repeat;
  margin: 10px;
  border: 5px solid #fff;
}

.buttom {
  width: 200px;
  height: 35px;
  background-color: lightseagreen;
  margin: 0px auto;
  line-height: 35px;
  border-radius: 5px;
}

.buttom:hover {
  cursor: pointer;
  opacity: 0.6;
}
